.footer-container {
  background-color: lightgrey;
  padding: 0.8%;
  font-size: 90%;
}

footer {
  display: flex;
  justify-content: space-around;
  margin: 1%;
}

.copyright {
  font-style: italic;
}

a {
  text-decoration: none;
}
